@charset "UTF-8";

@font-face {
  font-family: "BoonTook";
  src: url(../fonts/BoonTook-Ultra.woff2) format("woff2"),
       url(../fonts/BoonTook-Ultra.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BoonTook Mon";
  src: url(../fonts/BoonTook-Mon-Ultra-Oblique.woff2) format("woff2"),
       url(../fonts/BoonTook-Mon-Ultra-Oblique.woff) format("woff");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "BoonTook";
  src: url(../fonts/BoonTook-Ultra-Oblique.woff2) format("woff2"),
       url(../fonts/BoonTook-Ultra-Oblique.woff) format("woff");
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: "BoonTook Mon";
  src: url(../fonts/BoonTook-Mon-Ultra.woff2) format("woff2"),
       url(../fonts/BoonTook-Mon-Ultra.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
